#{extends 'main.html' /} 
#{set title:'login' /}

<div class="row">
	<div class="foundation-header">
		<h1>Login</h1>
		<h4 class="subheader">Fill out this here form</h4>
	</div>
	#{form @authenticate(), class: 'nice', id: 'loginForm'}
		#{if flash.error}
			<p class="error">&{'validation.loginFailed'}</p>
		#{/if}
		<label for="username">Email</label>
		<input class="input-text" id="username" name="username" size="30" type="text" />
		
		<label for="password">Password</label>
		<input class="input-text" id="password" name="password" size="30" type="password" />
		
		<input type="hidden" name="remember" id="remember" value="true" />
		
		<a id="loginButton" class="small red nice button" href="/" onclick="$('#loginForm').submit(); return false;">Mash this here button</a>
	#{/form}
	
	<script type="text/javascript">
		$().ready(function() {
			$('#loginForm :input').each(function() {
				$(this).clickButtonOnEnter('loginButton');
			});
		
			$('#username').focus();
		});
	</script>
</div>
