<tr id="gameRow${game.id}">
	<td>${game.datePlayedOrChallenged}</td>
	<td #{if 1 == game.winner}class="winner"#{/if}>
		<a href="#" onclick="userResults(${game.one.id})">${game.one}</a> #{if game.oneRatingChange()}(${game.oneRatingChange()})#{/if}
	</td>
	<td #{if 2 == game.winner}class="winner"#{/if}>
		<a href="#" onclick="userResults(${game.two.id})">${game.two}</a> #{if game.twoRatingChange()}(${game.twoRatingChange()})#{/if}
	</td>
	#{if game.winner != null}
		<td>${game.oneScore} - ${game.twoScore}</td>
	#{/if}
	#{else}
		<td>	
			#{if game.one.email == session.username || game.two.email == session.username}
				<form id="${game.id}-resultForm" class="nice inline">
					<input class='input-text inline' id='${game.id}-oneScore' name='oneScore' size="2" maxlength="2" type='text' />
					<input class='input-text inline' id='${game.id}-twoScore' name='twoScore' size='2' maxlength="2" type='text' />
					<a id="${game.id}-logResultButton" class='tiny red nice button' href='#' onclick="logResult(${game.id}, $('#${game.id}-oneScore').val(), $('#${game.id}-twoScore').val())">Save</a>
				</form>
			#{/if}
		</td>
	#{/else}
</tr>

<script type="text/javascript">
	$().ready(function() {
		$('#${game.id}-resultForm :input').each(function() {
			$(this).clickButtonOnEnter('${game.id}-logResultButton');
		});
	});
</script>

