body {
  color: #222;
}
#mainContainer {
  margin-top: 18px;
}
td.winner {
  font-weight: bold;
}
a.dim {
  color: #CCC;
}
table.results, table.standings, table.challenges {
  width: 100%;
}
table.results tr td, table.standings tr td, table.challenges tr td {
  vertical-align: middle;
}
input.hasError {
  background-color: red;
}
span.error {
  display: inline;
  margin-left: 12px;
  color: #ee3a43;
}
p.error {
  color: #ee3a43;
}
a#registerButton, a#loginButton {
  display: block;
  width: 130px;
}
#userResultsTab {
  color: #CCC;
}
#userResultsTab.active {
  color: #555;
}
#postCommentForm input {
  width: 460px;
}
/*	--------------------------------------------------
	:: Foundation Extensions
	-------------------------------------------------- */
.foundation-header {
  margin: 0 0 40px 0;
  padding: 30px 0 0 0;
  border-bottom: solid 1px #ccc;
}
.foundation-header#results-header {
  margin-bottom: 25px;
}
.tiny.button {
  font-size: 10px;
  padding: 6px 8px 4px;
}
.tiny.button.really {
  padding: 4px 8px 3px;
}
form.inline {
  margin-bottom: 0px;
}
input.inline {
  display: inline;
  width: auto;
  margin: 0;
  padding: 2px !important;
}
input.inline.score {
  width: 19px;
}
input.input-text {
  display: inline;
}
.green.button {
  background-color: #478e0e;
}
.nice.green.button {
  border: 1px solid #478e0e;
}
.green.button:hover, .green.button:focus {
  background-color: #316309;
}
/*	--------------------------------------------------
	:: Foundation Overrides
	-------------------------------------------------- */
.nice.tabs.vertical dd a.active {
  background: #ee3a43;
}
a {
  color: #ee3a43;
  text-decoration: none;
  line-height: inherit;
}
a:hover {
  color: #ca111b;
}
a:focus {
  color: #cc4714;
  outline: none;
}
p a, p a:visited {
  line-height: inherit;
}
table thead tr td {
  padding: 9px 10px;
  font-weight: bold;
}
.nice.tabs dd a.active {
  top: 0px;
  border-bottom: 3px solid #ee3a43 !important;
}
dl.tabs dd a {
  margin: 0px;
}
dl.tabs dd a.active {
  margin: 0px;
  height: 25px;
}
.nice.tabs dd a.active {
  font-weight: normal;
  border: 0;
  border-bottom: 3px solid #00a6fc;
  margin: 0;
}
/*	--------------------------------------------------
	:: zurBar (header bar)
	-------------------------------------------------- */
#zurBar {
  background: #282828;
  border-bottom: solid 4px #ee3a43;
  padding: 15px 20px 13px 20px;
}
#zurBar span.small {
  color: white;
  font-size: .7em;
  margin-left: 10px;
}
#zurBar h1, #zurBar h2 {
  margin-bottom: 0;
  line-height: 1;
}
#zurBar h1 {
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 800;
}
#zurBar h1 a {
  color: #fff;
  font-weight: bold;
}
#zurBar h2 a {
  text-indent: -99999px;
  display: block;
  width: 82px;
  height: 14px;
}
#zurBar strong {
  display: block;
  margin: 0;
  padding: 0;
  height: 14px;
  line-height: 14px;
  position: relative;
  bottom: 4px;
}
#zurBar strong a {
  line-height: 14px;
  color: #fff;
  font-weight: 500;
  padding-right: 12px;
}
#zurBar strong a.button {
  padding: 4px 10px;
  font-weight: bold;
}
