#{if _games}
	#{set games: _games /}
#{/if}

<table class="results">
	<thead>
		<tr>
			<td>Challenged</td>
			<td>Player One</td>
			<td>Player Two</td>
			<td>Score</td>
		</tr>
	</thead>
	<tbody>
		#{list items:games, as:'game'}
			<tr id="gameRow${game.id}">
				<td>${game.dateChallenged}</td>
				<td>
					<a href="#" onclick="userResults(${game.one.id})">${game.one}</a>
				</td>
				<td>
					<a href="#" onclick="userResults(${game.two.id})">${game.two}</a>
				</td>
				<td>	
					#{if game.one.email == session.username || game.two.email == session.username}
						<form id="${game.id}-resultForm" class="nice inline logResultForm">
							<input class='input-text inline' id='${game.id}-oneScore' name='oneScore' size="2" maxlength="2" type='text' />
							<input class='input-text inline' id='${game.id}-twoScore' name='twoScore' size='2' maxlength="2" type='text' />
							<a id="${game.id}-logResultButton" class='tiny red nice button' href='#' onclick="logResult(${game.id}, $('#${game.id}-oneScore').val(), $('#${game.id}-twoScore').val())">Save</a>
						</form>
					#{/if}
				</td>
			</tr>
		#{/list}
	</tbody>
</table>

<script type="text/javascript">
	$().ready(function() {
		$('.logResultForm :input').each(function() {
			$(this).clickButtonOnEnter($(this).next('logResultButton'));
		});
	});
</script>