<div class='foundation-header'>
	<h1>
		#{if _resultsUser == null}
			All Results
		#{/if}
		#{else}
			<a class="dim" href='@{Games.results()}'>All Results</a>
		#{/else}
		
		#{if session.username != null}
			#{if _resultsUser == null || session.username != _resultsUser.email}
				<a class="dim" href='@{Games.resultsForUser(session.username)}'>My Results</a>
			#{/if}
			#{else}
				My Results
			#{/else}
		#{/if}
		
		#{if _resultsUser != null && _resultsUser.email != session.username}
			Results for ${_resultsUser.firstName}
		#{/if}
	</h1>
</div>
     
     

