#{extends 'main.html' /} 
#{set title:'rules - challenging' /}

#{rules active: 'Challenging'}
	<h3>Challenging</h3>
    <h5 class="subheader">
    	Once logged in, you can challenge a user. This will send them an email letting them know you've challenged them.
    </h5>
    <hr />
	<h3>Recording results</h3>
    <h5 class="subheader">
    	After the game is played, both users need to log into the ladder. Once the score is submitted, the other player will get the chance to 
    	approve or reject the result if it was entered incorrectly.
    </h5>
    <hr />
#{/rules}

