#{extends 'main.html' /} 
#{set title:'rules - faq' /}

#{rules active: 'FAQ'}
	<h3>FAQ</h3>
    <h5>
    	I have an idea for a feature
    </h5>
    <h5 class="subheader">
    	Submit it to the <a href="https://github.com/apazzolini/radder/issues">issues page on GitHub</a>
    </h5>
    <hr />
    <h5>
    	I want to work on a feature
    </h5>
    <h5 class="subheader">
    	You can grab the code from <a href="https://github.com/apazzolini/radder/">the repository on GitHub</a>. Fork it, work on your 
    	feature, and then initiate a pull request.
    </h5>
    <hr />
#{/rules}

