#{extends 'main.html' /} 
#{set title:'rules - rating' /}

#{rules active: 'Rating'}
	<h3>Rating</h3>
    <h5 class="subheader">
        Long story short, we use the <a href="http://en.wikipedia.org/wiki/Elo_rating">Elo rating system</a>, which is a very commonly used rating 
        system to determine the relative skill of different players.
    </h5>
    <hr />
	<h3>Specific settings</h3>
    <h5 class="subheader">
    	Players start with a base rating of 1500. We are not using a rookie status at this time. k-value (the maximum amount of points you can win
    	in a given game is set to 32.
    </h5>
    <hr />
#{/rules}

