#{extends 'main.html' /}
#{set title:'Home' /}

<div class='row'>
	<div class="six columns">
		<div class='foundation-header'>
			<h1>Standings</h1>
		</div>
		#{standingsTable players: players /}
		<div class='foundation-header'>
			<h1>Talk</h1>
		</div>
		
		<div id="commentsMessage"> </div>
		<form id="postCommentForm" class="nice">
			<input class="input-text" type="text" id="newComment" />
			<a id="postCommentButton" class="small red nice button" href="#" onclick="postComment($('#newComment').val())">Mash this here button</a>
		</form>
		
		<script type="text/javascript">
			$().ready(function() {
				$('#postCommentForm :input').each(function() {
					$(this).clickButtonOnEnter('postCommentButton');
				});
			});
		</script>
		
		#{commentsList comments: comments /}
	</div>
	<div class="six columns">
		#{if session.username}
			<div id="challenges-header" class='foundation-header'>
				<h1>Challenges</h1>
			</div>
			
			<div id="challengesTabContainer">
				#{if challenges}
					<div id="challengesMessage"> </div>
					#{resultsTable games: challenges /}
				#{/if}
				#{else}
					You have no current challenges
				#{/else}
			</div>
		#{/if}
		
		<div id="results-header" class='foundation-header'>
			<h1>Results</h1>
		</div>
		
		<dl id="resultsTabs" class="tabs nice">
			<dd><a id="allResultsTab" href="#" onclick="allResults()" class="active">All Results</a></dd>
			#{if session.username}
				<dd><a id="myResultsTab" href="#" onclick="myResults(${session.userid})">My Results</a></dd>
			#{/if}
			<dd><a id="userResultsTab">User Results</a></dd>
		</dl>
		
		<div id="resultsTabContent">
			#{resultsTable games: games /}
		</div>
	</div>
</div>

<script type="text/javascript">
	$resultsTabs = $('#resultsTabs'); // Put this on the global scope
</script>