#{extends 'main.html' /}
#{set title:'Home' /}

<div class="row">

	<div class="six columns">
		<div class="foundation-header">
			<h1>Standings</h1>
		</div>
		#{standingsTable players: players /}
		
		<div class="foundation-header">
			<h1>Talk</h1>
		</div>
		#{if session.username}
			<div id="commentsMessage"></div>
	
			<form id="postCommentForm" class="nice">
				<input class="input-text" type="text" id="newComment" name="comment" />
			</form>
			
			<script type="text/javascript">
				$().ready(function() {
					$('#newComment').val(''); // Firefox "feature"
					
					// Because the form only has one element, it will submit on <Enter> by default -- prevent it...
					$('#postCommentForm').submit(function(e) { e.preventDefault(); return false; });
					
					// ... and do it with AJAX instead
					$('#newComment').onEnter(function(){RADDER.postComment($('#newComment').val());});
				});
			</script>
		#{/if}
		#{commentsList comments: comments /}
	</div>
	
	<div class="six columns">
		#{if session.username}
			<div id="challenges-header" class="foundation-header">
				<h1>Challenges</h1>
			</div>
			
			<div id="challengesTabContainer">
				#{if challenges}
					<div id="challengesMessage" #{if flash.challengesMessage}class="alert-box error" #{/if}>${flash.challengesMessage}</div>
					#{challengesTable games: challenges /}
				#{/if}
				#{else}
					You have no current challenges
				#{/else}
			</div>
		#{/if}
		
		<div id="results-header" class="foundation-header">
			<h1>Results</h1>
		</div>
		
		<dl id="resultsTabs" class="tabs nice">
			<dd><a id="allResultsTab" href="/" onclick="RADDER.allResults(); return false;" class="active">All Results</a></dd>
			#{if session.username}
				<dd><a id="myResultsTab" href="/" onclick="RADDER.myResults(${session.userid}); return false;">My Results</a></dd>
			#{/if}
			<dd><a id="userResultsTab">User Results</a></dd>
		</dl>
		
		<div id="resultsTabContent">
			#{resultsTable games: games /}
		</div>
	</div>
</div>

<script type="text/javascript">
	$resultsTabs = $('#resultsTabs'); // Put this on the global scope so that the RADDER module can access it
</script>