<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/foundation.css'}"/>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/ie.css'}"/>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/app.css'}"/>
		
        <script src="@{'/public/javascripts/foundation.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    </head>
    <body>
	    <div class="container" id="zurBar">
	      <div class="row">
	        <div class="six columns">
	          <h1>
	            <a href="/">
	            	&{'main.headerTitle'}
	            </a>
	          </h1>
	        </div>
	        <div class="six columns">
	          <strong class="right">
	            <a href="@{Application.showRule()}">Rules</a>
	            
				#{if session.username}
					<a class="small red round nice button src-download" href="/logout">Logout (${session.friendlyName})</a>
				#{/if}
				#{else}
					<a class="small red round nice button src-download" href="/login">Login</a>
				#{/else}
				
	          </strong>
	        </div>
	      </div>
	    </div>
	    <div class="container" id="mainContainer">
        	#{doLayout /}
	    </div>
    </body>
</html>


